.App {
  text-align: center;
  min-height: 100vh;
  color: #f5f5f5;
  background: #1b3b79;
  /*#010B5D*/
  font-family: 'Roboto';
  letter-spacing: 0.031rem;
}

#heading {
  padding-top: 1rem;
}
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar a {
  padding: 1rem;
  font-size: 1.5rem;
}
 
.drinks-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-rows: auto;
  justify-items: center;
}

.drink-card {
  border-radius: 1.563rem;
  height: 25rem;
  width: 25rem;
}

.drink-thumb img {
  border-radius: 1.563rem;
  height: 15.625rem;
  width: 15.625rem;
}

.drinkinfo-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
}

.drinkinfo h1 {
  text-align: center;
}

.drinkinfo-img {
  width: 80%;
  border-right: 1px solid #f5f5f5;
}

.drinkinfo-img img {
  height: 31.25rem;
  width: 31.25rem;
}

.drinkinfo-instructions {
  text-align: left;
}

a {
  text-decoration: none;
}

a:visited {
  color: #f5f5f5;
}

.hidden {
  display: none;
}

.tools {
  list-style: none;
}