.App {
  text-align: center;
  min-height: 100vh;
  color: #000;
  background: #f5f5f5;
  /*#010B5D*/
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.031rem;
}

.drinks-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
}

.drink-card {
  border-radius: 1.563rem;
  height: 25rem;
  width: 25rem;
}

.drink-thumb img {
  border-radius: 1.563rem;
  height: 15.625rem;
  width: 15.625rem;
}

.drinkinfo-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
}

.drinkinfo h1 {
  text-align: center;
}

.drinkinfo-img {
  width: 80%;
  border-right: 1px solid black;
}

.drinkinfo-img img {
  height: 31.25rem;
  width: 31.25rem;
}

.drinkinfo-instructions {
  text-align: left;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}